.background {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
}
  
.container {
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #CCCCCC;
    margin: 50px 150px;
    position: relative;
}
  
.header-img {
    width: 100%;
    margin-bottom: 0px;
}
  
h1 {
    font-family: Arial;
    font-size: 20px;
    color: #282828;
}

hr {
    border-top: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

h2 {
    font-family: Arial;
    font-size: 15px;
    color: #282828;
}

.dai-inside {
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    display: block;
    margin-left: 50px;
}

.dai-outside {
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    display: block;
}

.category-input {
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    width: 25%;
}

.sb-name {
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    margin-left: 50px;
}

.submittedby-input {
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    width: 12%;
}

.sb-others{
    font-family: Arial;
    font-size: 10px; 
    color: #282828; 
    padding-left: 20px;
}

.cb-inside{
    font-family: Arial;
    font-size: 10px;
    color: #282828; 
    margin-left: 50px;
}

.agencyhead-input{
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    width: 25%;
    margin: 10px 0px;
}

.cb-radio{
    margin: 10px 50px;
}

h3 {
    font-family: Arial; 
    font-size: 10px;
    font-style: italic;
    color: #282828; 
    margin-left: 50px;
}

.iggp-input{
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    width: 15%;
}

.fs-total{
    font-family: Arial;
    font-size: 10px;
    color: #282828; 
    margin-left: 50px;
}

.trar-inside-2k{
    font-family: Arial;
    font-size: 10px;
    color: #282828; 
    margin-left: 50px;
}

.trar-inside{
    font-family: Arial;
    font-size: 10px;
    color: #282828; 
    margin-left:20px;
}

.trar-input{
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    width: 7%;
}

.iggpn-input{
    font-family: Arial;
    font-size: 10px;
    color: #282828;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    width: 50%;
    height: 50px;
}

.ur-p{
    font-family: Arial;
    font-size: 10px;
    color: #282828; 
    margin-left: 50px;
}

.ur-inside{
    font-family: Arial;
    font-size: 10px; 
    color: #282828;
    margin-left: 50px;
}

.ur-input {
    font-family: Arial; 
    font-size: 10px;
    color: 282828;
}

.ur-input {
    font-family: Arial; 
    font-size: 10px;
    color: 282828;
}

.submit-button{
    background-color: #007bff;
    font-family: Arial; 
    font-size: 10px;
    color: white;
    margin-left: 50px;
    padding: 2px 10px;
    border: 1px solid #0056b3;
    border-radius: 2px;
    cursor: pointer;
}

.close-button{
    background-color: #CCCCCC;
    font-family: Arial; 
    font-size: 10px;
    color: 282828;
    padding: 10px 20px;
    border: 2px solid #999999;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    font-family: Arial;
    font-size: 20px;
    color: #282828;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
}
  